
.sectionContainer{
  padding: 5px;
  margin-bottom: 5px;
}

.sectionLabel{
  padding: 10px 0 0 0 ;
  width:  150px;
  height: 50px;
  float: left;
  clear:both;
}

.sectionContent{
  overflow: auto;
  padding: 10px;
}