.functionList{
  list-style: none;
  padding-left: 20px;
  margin: 0 0 10px 0;
}

.functionHeaders{
  padding-left: 20px;
  margin-bottom: 10px;
  color: white;
}

.contractName{
  text-align: center;
  color: white;
}

.active{
  text-decoration: underline;
  font-weight: bold;  
}